keys/
kms_audit**.jsonl
bin/
build*/
!docker/build/
_codeql_*/
dist/
cmake/launch-cxx
.vscode
*.whl
.cache/
*.cmake
data*/
docs/html
Testing/

*.pyc
**/pycache/
**/.pyo
**/.pyd
**/.pydc
envector-python-sdk-private
